web/node_modules/
.env
web/.env.local
web/.next
.DS_Store
ios/LeaderDojo/LeaderDojo.xcodeproj/xcuserdata/
ios/LeaderDojo/LeaderDojo.xcodeproj/project.xcworkspace/xcuserdata/
ios/LeaderDojo/LeaderDojo.xcworkspace/xcuserdata/
*.xcuserstate
DerivedData/
